parameters:
    level: 6
    paths:
        - web/modules/custom
        - web/themes/custom
    excludePaths:
        - web/core/*
        - web/modules/contrib/*
        - web/themes/contrib/*
        - vendor/*
    drupal:
        drupal_root: web
    ignoreErrors:
        -
            message: '#has parameter \$fields with no value type specified in iterable type array#'
            path: web/modules/custom/lcdle_contributor/lcdle_contributor.module
    reportUnmatchedIgnoredErrors: true

# Note: phpstan-drupal and phpstan-deprecation-rules are auto-loaded via
# phpstan/extension-installer. Do not include their .neon files manually.
